<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbarFragment">
  <div>
    <a href="/">SBB</a>
    <button type="button"></button>
<!--      todo : toggler 추가하기-->
    <div>
      <ul>
        <li>
          <a th:href="@{/user/login}">Login</a>
          <a th:href="@{/user/logout}">Logout</a>
        </li>
        <li>
          <a th:href="@{/user/signup}">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>