<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout">
<div layout:fragment="content">
<!--  게시글 내용-->
  <h1 th:text="${detail.getBoard_title()}"></h1>
  <div th:text="${detail.getUser_id()}"></div>
  <div th:text="${detail.getBoard_content()}"></div>

<!--  댓글 리스트-->
<!--  여기서 자꾸 500 에러 발생-->
<!--  <h5 th:text="|${#lists.size(commentList)}개의 답변이 있습니다.|"></h5>-->
  <div>
    <ul>
      <li th:each="comment : ${commentList}" th:text="${comment.getComment_content()}"></li>
    </ul>
  </div>

<!--  댓글 폼-->
  <form th:action="@{|/comment/create/${detail.getSeq()}|}" th:object="${commentDto}" method="post">
    <div role="alert" th:if="${#fields.hasAnyErrors()}">
      <div th:each="err : ${#fields.allError()}" th:text="${err}" />
    </div>
    <textarea th:field="*{comment_content}" rows="5"></textarea>
    <input type="hidden" th:field="*{seq}"></input>
    <input type="submit" value="댓글달기">
  </form>
</div>
</html>