<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbboard.user.UserMapper">
<!--    아이디 중복체크-->
    <select id="checkId" parameterType="userDto" resultType="int">
        select count(*)
        from user
        where user_id = #{user_id}
    </select>

<!--    회원가입-->
    <insert id="createUser" parameterType="userDto">
        insert into user(user_id, user_name, user_pwd)
        values (#{user_id}, #{user_name}, #{user_pwd})
    </insert>

<!--    로그인-->
    <select id="userCheck" parameterType="userDto" resultType="int">
        select count(*)
        from user
        where user_id = #{user_id}
        and user_pwd = #{user_pwd}
    </select>

<!--    <resultMap id="userMap" type="userDto">-->
<!--        <result column="user_id" property="user_id" jdbcType="VARCHAR" javaType="String" />-->
<!--        <result column="user_name" property="user_name" jdbcType="VARCHAR" javaType="String" />-->
<!--        <result column="user_pwd" property="user_pwd" jdbcType="VARCHAR" javaType="String" />-->
<!--        <collection column="userList" property="userList" select="findById" />-->
<!--    </resultMap>-->
<!--    -->
<!--&lt;!&ndash;    사용자 확인&ndash;&gt;-->
<!--    <select id="findById" parameterType="String" resultType="userMap">-->
<!--        select user_id, user_name, user_pwd-->
<!--        from user-->
<!--        where user_id = #{user_id}-->
<!--    </select>-->
</mapper>